# FastAPI y servidor
fastapi>=0.115.12
fastapi-cli==0.0.7
#form data
python-multipart==0.0.20
#dovenv
python-dotenv>=1.0.0
# conexión AWS
boto3==1.35.87

#pydantic
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
email-validator>=2.0.0

#slug
python-slugify==8.0.4

#bcrypt
bcrypt==4.3.0


#base de datos
psycopg2-binary==2.9.9
sqlmodel==0.0.24
alembic>=1.13.1

# Para pruebas
pytest>=8.3.0
pytest-asyncio>=0.24.0
httpx>=0.27.0
pytest-cov>=5.0.0

pre-commit>=4.0.0

redis==5.0.1

# Auditoría de seguridad de dependencias
pip_audit==2.10.0